In [411]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [412]:
field = 'IDARADO2'

## Upload WCA file

In [413]:
df_wca = pd.read_csv('/content/WCA_2.csv')
data_major = 'OIL'
data_reservoir = 'WCA'
df_wca.insert(0, 'FIELD', field) 
df_wca.insert(1, 'MAJOR', data_major)
df_wca.insert(2, 'RESERVOIR', data_reservoir)
df_wca.head()

,FIELD,MAJOR,RESERVOIR,API_UWI,TVD_FT,LateralLength_FT,ENVOperator,WellName,ProducingMonth,TotalProdMonths,ProducingDays,LiquidsProd_BBL,GasProd_MCF,WaterProd_BBL
0,IDARADO2,OIL,WCA,42-317-40940,8577,7450,"VENCER ENERGY, LLC",MCMURRY-CRIM 50 105HA,2018-05-01,1,31,369,256,521
1,IDARADO2,OIL,WCA,42-317-40940,8577,7450,"VENCER ENERGY, LLC",MCMURRY-CRIM 50 105HA,2018-06-01,2,30,9046,7205,13550
2,IDARADO2,OIL,WCA,42-317-40940,8577,7450,"VENCER ENERGY, LLC",MCMURRY-CRIM 50 105HA,2018-07-01,3,31,8277,9401,12466
3,IDARADO2,OIL,WCA,42-317-40940,8577,7450,"VENCER ENERGY, LLC",MCMURRY-CRIM 50 105HA,2018-08-01,4,31,8645,10927,13092
4,IDARADO2,OIL,WCA,42-317-40940,8577,7450,"VENCER ENERGY, LLC",MCMURRY-CRIM 50 105HA,2018-09-01,5,30,7093,10786,10800

## Upload WCB file

In [414]:
df_wcb = pd.read_csv('/content/WCB_2.csv')
data_major = 'OIL'
data_reservoir = 'WCB'
df_wcb.insert(0, 'FIELD', field) 
df_wcb.insert(1, 'MAJOR', data_major)
df_wcb.insert(2, 'RESERVOIR', data_reservoir)
df_wcb.head()

,FIELD,MAJOR,RESERVOIR,API_UWI,TVD_FT,LateralLength_FT,ENVOperator,WellName,ProducingMonth,TotalProdMonths,ProducingDays,LiquidsProd_BBL,GasProd_MCF,WaterProd_BBL
0,IDARADO2,OIL,WCB,42-317-42465,8796,10398,EXXON,DARK STAR UNIT 1 2103BH,2021-05-01,1,31,2960,2731,6107
1,IDARADO2,OIL,WCB,42-317-42465,8796,10398,EXXON,DARK STAR UNIT 1 2103BH,2021-06-01,2,30,22900,20793,47279
2,IDARADO2,OIL,WCB,42-317-42465,8796,10398,EXXON,DARK STAR UNIT 1 2103BH,2021-07-01,3,31,23100,25215,47742
3,IDARADO2,OIL,WCB,42-317-42465,8796,10398,EXXON,DARK STAR UNIT 1 2103BH,2021-08-01,4,31,15346,23772,31752
4,IDARADO2,OIL,WCB,42-317-42465,8796,10398,EXXON,DARK STAR UNIT 1 2103BH,2021-09-01,5,30,12285,27857,25446

## Upload LSS file

In [415]:
df_lss = pd.read_csv('/content/LSS_2.csv')
data_major = 'OIL'
data_reservoir = 'WCB'
df_lss.insert(0, 'FIELD', field) 
df_lss.insert(1, 'MAJOR', data_major)
df_lss.insert(2, 'RESERVOIR', data_reservoir)
df_lss.head()

,FIELD,MAJOR,RESERVOIR,API_UWI,TVD_FT,LateralLength_FT,ENVOperator,WellName,ProducingMonth,TotalProdMonths,ProducingDays,LiquidsProd_BBL,GasProd_MCF,WaterProd_BBL
0,IDARADO2,OIL,WCB,42-317-43640,8274,10425,EXXON,STRAIN 19 UNIT 1&2 ALLOC 1933 1923SH,2022-06-01,1,30,31329,8505,75909
1,IDARADO2,OIL,WCB,42-317-43640,8274,10425,EXXON,STRAIN 19 UNIT 1&2 ALLOC 1933 1923SH,2022-07-01,2,31,22055,18004,53596
2,IDARADO2,OIL,WCB,42-317-43640,8274,10425,EXXON,STRAIN 19 UNIT 1&2 ALLOC 1933 1923SH,2022-08-01,3,31,18680,11996,45531
3,IDARADO2,OIL,WCB,42-317-43640,8274,10425,EXXON,STRAIN 19 UNIT 1&2 ALLOC 1933 1923SH,2022-09-01,4,30,17455,9466,42671
4,IDARADO2,OIL,WCB,42-317-43640,8274,10425,EXXON,STRAIN 19 UNIT 1&2 ALLOC 1933 1923SH,2022-10-01,5,31,26144,16693,64099

## **Flatflie**

In [416]:
df_fl = pd.concat([df_lss,df_wca,df_wcb], ignore_index=True)
df_fl['ProducingMonth'] = pd.to_datetime(df_fl['ProducingMonth'])
df_fl

,FIELD,MAJOR,RESERVOIR,API_UWI,TVD_FT,LateralLength_FT,ENVOperator,WellName,ProducingMonth,TotalProdMonths,ProducingDays,LiquidsProd_BBL,GasProd_MCF,WaterProd_BBL
0,IDARADO2,OIL,WCB,42-317-43640,8274,10425,EXXON,STRAIN 19 UNIT 1&2 ALLOC 1933 1923SH,2022-06-01,1,30,31329,8505,75909
1,IDARADO2,OIL,WCB,42-317-43640,8274,10425,EXXON,STRAIN 19 UNIT 1&2 ALLOC 1933 1923SH,2022-07-01,2,31,22055,18004,53596
2,IDARADO2,OIL,WCB,42-317-43640,8274,10425,EXXON,STRAIN 19 UNIT 1&2 ALLOC 1933 1923SH,2022-08-01,3,31,18680,11996,45531
3,IDARADO2,OIL,WCB,42-317-43640,8274,10425,EXXON,STRAIN 19 UNIT 1&2 ALLOC 1933 1923SH,2022-09-01,4,30,17455,9466,42671
4,IDARADO2,OIL,WCB,42-317-43640,8274,10425,EXXON,STRAIN 19 UNIT 1&2 ALLOC 1933 1923SH,2022-10-01,5,31,26144,16693,64099
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4805,IDARADO2,OIL,WCB,42-317-43108,8756,10461,CHEVRON,VLT WEATHERBY UNIT 0153WB,2022-06-01,18,30,4854,3621,4788
4806,IDARADO2,OIL,WCB,42-317-43108,8756,10461,CHEVRON,VLT WEATHERBY UNIT 0153WB,2022-07-01,19,31,3011,905,2941
4807,IDARADO2,OIL,WCB,42-317-43108,8756,10461,CHEVRON,VLT WEATHERBY UNIT 0153WB,2022-08-01,20,31,4612,4984,4457
4808,IDARADO2,OIL,WCB,42-317-43108,8756,10461,CHEVRON,VLT WEATHERBY UNIT 0153WB,2022-09-01,21,30,3541,3292,3387
4809,IDARADO2,OIL,WCB,42-317-43108,8756,10461,CHEVRON,VLT WEATHERBY UNIT 0153WB,2022-10-01,22,31,4925,3996,4664

## Data according to plan

In [417]:
well_planned = 5000
data_oil = df_fl['LiquidsProd_BBL'] * (well_planned / df_fl['LateralLength_FT']) * (30.4 / df_fl['ProducingDays'])
data_gas = df_fl['GasProd_MCF'] * (well_planned / df_fl['LateralLength_FT']) * (30.4 / df_fl['ProducingDays'])
data_water = df_fl['WaterProd_BBL'] * (well_planned / df_fl['LateralLength_FT']) * (30.4 / df_fl['ProducingDays'])

df_fl['OIL 5K'] = data_oil
df_fl['GAS 5K'] = data_gas
df_fl['WATER 5K'] = data_water

df_fl['OIL 5K'] = np.array(df_fl['OIL 5K'], np.int64)
df_fl['GAS 5K'] = np.array(df_fl['GAS 5K'], np.int64)
df_fl['WATER 5K'] = np.array(df_fl['WATER 5K'], np.int64)

df_fl.head()

,FIELD,MAJOR,RESERVOIR,API_UWI,TVD_FT,LateralLength_FT,ENVOperator,WellName,ProducingMonth,TotalProdMonths,ProducingDays,LiquidsProd_BBL,GasProd_MCF,WaterProd_BBL,OIL 5K,GAS 5K,WATER 5K
0,IDARADO2,OIL,WCB,42-317-43640,8274,10425,EXXON,STRAIN 19 UNIT 1&2 ALLOC 1933 1923SH,2022-06-01,1,30,31329,8505,75909,15226,4133,36892
1,IDARADO2,OIL,WCB,42-317-43640,8274,10425,EXXON,STRAIN 19 UNIT 1&2 ALLOC 1933 1923SH,2022-07-01,2,31,22055,18004,53596,10373,8467,25207
2,IDARADO2,OIL,WCB,42-317-43640,8274,10425,EXXON,STRAIN 19 UNIT 1&2 ALLOC 1933 1923SH,2022-08-01,3,31,18680,11996,45531,8785,5642,21414
3,IDARADO2,OIL,WCB,42-317-43640,8274,10425,EXXON,STRAIN 19 UNIT 1&2 ALLOC 1933 1923SH,2022-09-01,4,30,17455,9466,42671,8483,4600,20738
4,IDARADO2,OIL,WCB,42-317-43640,8274,10425,EXXON,STRAIN 19 UNIT 1&2 ALLOC 1933 1923SH,2022-10-01,5,31,26144,16693,64099,12296,7851,30147

## Type of Data

In [418]:
df_fl.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4810 entries, 0 to 4809
Data columns (total 17 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   FIELD             4810 non-null   object
 1   MAJOR             4810 non-null   object
 2   RESERVOIR         4810 non-null   object
 3   API_UWI           4810 non-null   object
 4   TVD_FT            4810 non-null   int64
 5   LateralLength_FT  4810 non-null   int64
 6   ENVOperator       4810 non-null   object
 7   WellName          4810 non-null   object
 8   ProducingMonth    4810 non-null   datetime64[ns]
 9   TotalProdMonths   4810 non-null   int64
 10  ProducingDays     4810 non-null   int64
 11  LiquidsProd_BBL   4810 non-null   int64
 12  GasProd_MCF       4810 non-null   int64
 13  WaterProd_BBL     4810 non-null   int64
 14  OIL 5K            4810 non-null   int64
 15  GAS 5K            4810 non-null   int64
 16  WATER 5K          4810 non-null   int64
dtypes: datetime64[ns](1), int64(10), object(6)
memory usage: 639.0+ KB

## Data Cleansing

Check data at 0 in column

df_fl[df_fl['OIL 5K'] == 0]

Amount of data at 0 in the column

df_fl[df_fl['OIL 5K'] == 0].count()

Drop

df_fl.drop(df_fl[(df_fl['OIL 5K'] == 0)].index, inplace = True)

## Check errors

key [</>] = 'OIL 5K' or 'GAS 5k' or 'WATER 5k"

In [420]:
df_fl[df_fl['OIL 5K'] == 0].count()

FIELD               11
MAJOR               11
RESERVOIR           11
API_UWI             11
TVD_FT              11
LateralLength_FT    11
ENVOperator         11
WellName            11
ProducingMonth      11
TotalProdMonths     11
ProducingDays       11
LiquidsProd_BBL     11
GasProd_MCF         11
WaterProd_BBL       11
OIL 5K              11
GAS 5K              11
WATER 5K            11
dtype: int64

##Cleanning Data

In [421]:
df_fl.drop(df_fl[(df_fl['OIL 5K'] == 0)].index, inplace = True)

In [422]:
df_fl.drop(df_fl[(df_fl['GAS 5K'] == 0)].index, inplace = True)

In [423]:
df_fl.drop(df_fl[(df_fl['WATER 5K'] == 0)].index, inplace = True)

## Check cleanning

In [424]:
df_fl[df_fl['OIL 5K'] == 0].count()

FIELD               0
MAJOR               0
RESERVOIR           0
API_UWI             0
TVD_FT              0
LateralLength_FT    0
ENVOperator         0
WellName            0
ProducingMonth      0
TotalProdMonths     0
ProducingDays       0
LiquidsProd_BBL     0
GasProd_MCF         0
WaterProd_BBL       0
OIL 5K              0
GAS 5K              0
WATER 5K            0
dtype: int64

In [425]:
df_fl[df_fl['GAS 5K'] == 0].count()

FIELD               0
MAJOR               0
RESERVOIR           0
API_UWI             0
TVD_FT              0
LateralLength_FT    0
ENVOperator         0
WellName            0
ProducingMonth      0
TotalProdMonths     0
ProducingDays       0
LiquidsProd_BBL     0
GasProd_MCF         0
WaterProd_BBL       0
OIL 5K              0
GAS 5K              0
WATER 5K            0
dtype: int64

In [426]:
df_fl[df_fl['WATER 5K'] == 0].count()

FIELD               0
MAJOR               0
RESERVOIR           0
API_UWI             0
TVD_FT              0
LateralLength_FT    0
ENVOperator         0
WellName            0
ProducingMonth      0
TotalProdMonths     0
ProducingDays       0
LiquidsProd_BBL     0
GasProd_MCF         0
WaterProd_BBL       0
OIL 5K              0
GAS 5K              0
WATER 5K            0
dtype: int64

## **Check Fatflie / Data Okay**

In [409]:
df_fl

,FIELD,MAJOR,RESERVOIR,API_UWI,TVD_FT,LateralLength_FT,ENVOperator,WellName,ProducingMonth,TotalProdMonths,ProducingDays,LiquidsProd_BBL,GasProd_MCF,WaterProd_BBL,OIL 5K,GAS 5K,WATER 5K
0,IDARADO2,OIL,WCB,42-317-43640,8274,10425,EXXON,STRAIN 19 UNIT 1&2 ALLOC 1933 1923SH,2022-06-01,1,30,31329,8505,75909,15226,4133,36892
1,IDARADO2,OIL,WCB,42-317-43640,8274,10425,EXXON,STRAIN 19 UNIT 1&2 ALLOC 1933 1923SH,2022-07-01,2,31,22055,18004,53596,10373,8467,25207
2,IDARADO2,OIL,WCB,42-317-43640,8274,10425,EXXON,STRAIN 19 UNIT 1&2 ALLOC 1933 1923SH,2022-08-01,3,31,18680,11996,45531,8785,5642,21414
3,IDARADO2,OIL,WCB,42-317-43640,8274,10425,EXXON,STRAIN 19 UNIT 1&2 ALLOC 1933 1923SH,2022-09-01,4,30,17455,9466,42671,8483,4600,20738
4,IDARADO2,OIL,WCB,42-317-43640,8274,10425,EXXON,STRAIN 19 UNIT 1&2 ALLOC 1933 1923SH,2022-10-01,5,31,26144,16693,64099,12296,7851,30147
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4805,IDARADO2,OIL,WCB,42-317-43108,8756,10461,CHEVRON,VLT WEATHERBY UNIT 0153WB,2022-06-01,18,30,4854,3621,4788,2350,1753,2319
4806,IDARADO2,OIL,WCB,42-317-43108,8756,10461,CHEVRON,VLT WEATHERBY UNIT 0153WB,2022-07-01,19,31,3011,905,2941,1411,424,1378
4807,IDARADO2,OIL,WCB,42-317-43108,8756,10461,CHEVRON,VLT WEATHERBY UNIT 0153WB,2022-08-01,20,31,4612,4984,4457,2161,2336,2089
4808,IDARADO2,OIL,WCB,42-317-43108,8756,10461,CHEVRON,VLT WEATHERBY UNIT 0153WB,2022-09-01,21,30,3541,3292,3387,1715,1594,1640
4809,IDARADO2,OIL,WCB,42-317-43108,8756,10461,CHEVRON,VLT WEATHERBY UNIT 0153WB,2022-10-01,22,31,4925,3996,4664,2308,1872,2186